$community-theme: #ff5c53;// 种草社区主题色

@mixin list() {
  .content {
    position: relative;
    .list {
      padding: 20rpx;
      .item {
        display: block;
      }
    }
  }
}

@mixin bg() {
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200rpx;
    background: linear-gradient(0deg, rgba(255, 92, 83, 0) 0%, $community-theme 100%);
    z-index: -1;
  }
}
